name: Publish SS14.Admin image

on: workflow_dispatch

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          repository: space-wizards/SS14.Admin

      - name: Checkout submodules
        run: |
          git submodule update --init --recursive

      - name: Checkout files
        uses: Bhacaz/checkout-files@v2
        with:
          files: Dockerfile.Admin ss14-admin-dockerify.patch

      - name: Apply patch file
        run: |
          cd ./SS14.Admin
          git apply ss14-admin-dockerify.patch

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.Admin
          push: true
          tags: morb0/ss14-admin:latest
