name: Publish SS14.Admin image

on: 
  workflow_dispatch:
    inputs:
      version_tag:
        description: '.NET version (e.g., dotnet-8.0)'
        required: true
        type: string

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/ss14.admin

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
          repository: space-wizards/SS14.Admin

      - name: Checkout files
        uses: Bhacaz/checkout-files@v2
        with:
          files: Dockerfile.Admin ss14-admin-dockerify.patch

      - name: Apply patch file
        run: |
          git apply --reject --ignore-space-change --ignore-whitespace ss14-admin-dockerify.patch

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=raw,value=${{ inputs.version_tag }}
            type=raw,value=latest
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.Admin
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
