name: Publish SS14.Admin image

on: workflow_dispatch

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
        with:
          repository: space-wizards/SS14.Admin

      - name: Checout SS14
        run: git clone https://github.com/space-wizards/space-station-14/tree/0982ef3cea8a1e623756433480e0ba4ab8fbc4a3 SS14
          
      - name: Checkout files
        uses: Bhacaz/checkout-files@v2
        with:
          files: Dockerfile.Admin

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.Admin
          push: true
          tags: morb0/ss14-admin:latest
